[Unit]
Description=ArchiMemo Project Delivery Checker
After=network.target

[Service]
User={{USER}}
Group={{USER}}
WorkingDirectory={{APP_DIR}}
ExecStart={{PYTHON_PATH}} {{APP_DIR}}/app.py
Restart=always
RestartSec=10
StandardOutput=append:{{APP_DIR}}/app.log
StandardError=append:{{APP_DIR}}/app.log
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
